/* My Awesome Styles */

/* Diagnostic Styling 
    * Change Background Color 
    *Outline Elements
*/

nav li {
    list-style: none;
    display: inline-block;
    background: #C67EC6;
    padding: .50em; 
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav ul {
    padding: 10%;
  }